.group:hover .constant-rotation {
    animation: spin 2s linear 0s infinite forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
